$backcolor: #ff0e;
$colorLogo: #000000;
$colorbackleft:rgb(169, 153, 240);
$colorbackright:rgb(113, 215, 247);
$colorFooterText:rgb(0, 38, 255);
//* loader
$space: linear-gradient(60deg, rgb(61, 21, 240), rgb(152, 204, 9));
$space-shadow: #374d5c;
$ship: #eee;
$mars: #40ffb6;
$alien: #19b883;
$timing: 10s;
$curve1: cubic-bezier(0.455, 0.03, 0.615, 0.555);
$curve2: cubic-bezier(0.645, 0.045, 0.355, 1);
$letterEasing: ease-in;
$letterSpeed: 8s;
$speed: .4s;
$easing: ease-out;
$type: normal;